
#.meta
#.csproj
#.sln
#Temp/
#ProjectSettings/
#Anim/
#Audio/
#Library/
#.vs/*

*Temp/*

#except
!*.cs
!*.png
!*.PNG
!*.jpg
!*.JPG
!*.wav
!*.WAV
#!*ProjectSettings/
!*.ttf
!*.TTF
!*.FON
#!*.asset
#!*ProjectVersion.txt

*.meta

#ignore scenes (don't let updates overwrite students' scenes)
*.unity
!*BlankSceneCOPY-DONT-USE-ORIGINAL.unity
!*TerrainScene.unity

#even if in sub-directories
!*/

*.sln
*.csproj


*.prefs
*.db
*.xml
*.dll


Library/
Library/*
ProjectSettings/
.vs/

Assets/YOURNAME/
*.info
